<a href="https://colab.research.google.com/github/prashant3094/Intermediate-Python-Programming-Course/blob/main/Intermediate_Python_Programming_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_tuple="max","28","boston"
print(type(my_tuple))

<class 'tuple'>

In [2]:
name,age,city=my_tuple
print(name)
print(age)
print(city)

max
28
boston

In [6]:
my_tuple=(0,1,2,3,4)
i1,*i2,i3=my_tuple
print(i1)
print(i3)
print(i2)

0
4
[1, 2, 3]

In [10]:
#tuples are more fater than list
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]",number=1000000))  #list
print(timeit.timeit(stmt="(0,1,2,3,4,5)",number=1000000))   #tuple

0.09528093699998408
0.012587990000042737

#sets

sets are unordered , mutable and no duplicate

In [1]:
my_set=([1,2,3])
print(my_set)

[1, 2, 3]

In [2]:
my_set=set("hello")
print(my_set)

{'h', 'e', 'l', 'o'}

In [4]:
my_set=set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
print(my_set)

{1, 2, 3}