<a href="https://colab.research.google.com/github/prashant3094/Intermediate-Python-Programming-Course/blob/main/Intermediate_Python_Programming_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_tuple="max","28","boston"
print(type(my_tuple))

<class 'tuple'>

In [2]:
name,age,city=my_tuple
print(name)
print(age)
print(city)

max
28
boston

In [3]:
my_tuple=(0,1,2,3,4)
i1,*i2,i3=my_tuple
print(i1)
print(i3)
print(i2)

0
4
[1, 2, 3]

In [4]:
#tuples are more fater than list
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]",number=1000000))  #list
print(timeit.timeit(stmt="(0,1,2,3,4,5)",number=1000000))   #tuple

0.09607780500000018
0.01246413399999824

#sets

sets are unordered , mutable and no duplicate

In [5]:
my_set=([1,2,3])
print(my_set)

[1, 2, 3]

In [6]:
my_set=set("hello")
print(my_set)

{'h', 'l', 'o', 'e'}

In [7]:
my_set=set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
print(my_set)

{1, 2, 3}

In [14]:
odds={1,3,5,7,9}
evens={0,2,4,6,8}
prime={2,3,5,7}

In [15]:
#union operation
u=odds.union(evens)
u

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
#intersection
i=odds.intersection(evens)
i

set()

In [17]:
i=odds.intersection(prime)
i

{3, 5, 7}

In [19]:
#concatinating strings
greetings="hello"
name="tom"
sentence= greetings+ " " +name
print(sentence)

hello tom

In [21]:
#removing white spaces from string
my_string="    hello world  "
print(my_string)
my_string=my_string.strip()
my_string  #white space are removed

    hello world

'hello world'

In [22]:
my_string="hello world"
print(my_string.replace("world","universe"))

hello universe

In [23]:
var=3.1234567
my_string="the variable is {}".format(var)
print(my_string)

the variable is 3.1234567

In [25]:
var1=3.1234567
var2=6
my_string=f"the variable is {var1} and {var2}"
print(my_string)

the variable is 3.1234567 and 6

#collections

In [27]:
from collections import Counter

In [30]:
a="aaaaaaabbbbbccc"
my_counter=Counter(a)
print(my_counter)

Counter({'a': 7, 'b': 5, 'c': 3})

In [31]:
print(my_counter.most_common(1))  #a is most common element in our string

[('a', 7)]

In [32]:
print(list(my_counter.elements()))

['a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c']

In [34]:
from collections import namedtuple
point=namedtuple("point","x,y")
pt=point(1,-4)
print(pt.x,pt.y)

1 -4

In [37]:
from collections import deque
d=deque()
d.append(1)
d.append(2)
print(d)

deque([1, 2])

#itertools

In [39]:
from itertools import permutations
a=[1,2,3]
perm=permutations(a)
print(list(perm))  # we see all the different ordering

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [41]:
from itertools import combinations
a=[1,2,3]
perm=combinations(a,2)
print(list(perm))  #

[(1, 2), (1, 3), (2, 3)]

In [42]:
from itertools import accumulate
a=[1,2,3,4]
acc=accumulate(a)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 3, 6, 10]

#LAMBDA== One line function

In [45]:
def add10_func(x):
  return x+10

add10_func(5)

15

In [43]:
add10=lambda x : x+10
print(add10(5))

15