<a href="https://colab.research.google.com/github/prashant3094/Intermediate-Python-Programming-Course/blob/main/Intermediate_Python_Programming_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_tuple="max","28","boston"
print(type(my_tuple))

<class 'tuple'>

In [2]:
name,age,city=my_tuple
print(name)
print(age)
print(city)

max
28
boston

In [3]:
my_tuple=(0,1,2,3,4)
i1,*i2,i3=my_tuple
print(i1)
print(i3)
print(i2)

0
4
[1, 2, 3]

In [4]:
#tuples are more fater than list
import timeit
print(timeit.timeit(stmt="[0,1,2,3,4,5]",number=1000000))  #list
print(timeit.timeit(stmt="(0,1,2,3,4,5)",number=1000000))   #tuple

0.09607780500000018
0.01246413399999824

#sets

sets are unordered , mutable and no duplicate

In [5]:
my_set=([1,2,3])
print(my_set)

[1, 2, 3]

In [6]:
my_set=set("hello")
print(my_set)

{'h', 'l', 'o', 'e'}

In [7]:
my_set=set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
print(my_set)

{1, 2, 3}

In [14]:
odds={1,3,5,7,9}
evens={0,2,4,6,8}
prime={2,3,5,7}

In [15]:
#union operation
u=odds.union(evens)
u

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
#intersection
i=odds.intersection(evens)
i

set()

In [17]:
i=odds.intersection(prime)
i

{3, 5, 7}

In [19]:
#concatinating strings
greetings="hello"
name="tom"
sentence= greetings+ " " +name
print(sentence)

hello tom

In [21]:
#removing white spaces from string
my_string="    hello world  "
print(my_string)
my_string=my_string.strip()
my_string  #white space are removed

    hello world

'hello world'